.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: azure;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .stripes:hover{
      cursor: pointer;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: orangered;
    cursor: pointer;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .logo{
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
}
.navbar-nav{
  margin-left: auto;
}